  <div class="modal-header">
    <button ng-click="vm.modal=false" type="button" class="close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title">Configure</h4>
  </div>
  <div class="modal-body">
    <div ng-show="vm.error.configure" class="alert alert-danger">
      <i class="fa fa-ban"></i>
      <button ng-click="vm.error.configure = false" type="button" class="close">x</button>
      {{vm.error.configure}}
    </div>
    <div class="col-sm-8 col-sm-offset-2">
      <table>
        <tr>
          <th>TTY</th>
          <th>Step</th>
          <th>Retention</th>
          <th></th>
        </tr>
        <tr ng-repeat="dev in vm.devices">
          <td ng-click="vm.update(dev.id,dev.tty)" style="cursor: pointer">
              <span ng-show="vm.updating.id != dev.id && vm.updating.what != dev.tty">{{dev.tty}}</span>
              <input ng-change="vm.save(dev.id,dev.tty,'tty')" ng-model="dev.tty" ng-show="vm.updating.id != dev.id && vm.updating.what != dev.tty" profile="text" class="form-control">
          </td>
          <td ng-click="vm.update(dev.id,dev.step)" style="cursor: pointer">
              <span ng-show="vm.updating.id != dev.id && vm.updating.what != dev.step">{{dev.step}}</span>
              <input ng-change="vm.save(dev.id,dev.step,'step')" ng-model="dev.step" ng-show="vm.updating.id != dev.id && vm.updating.what != dev.step" profile="text" class="form-control">
          </td>
          <td ng-click="vm.update(dev.id,dev.retention)" style="cursor: pointer">
              <span ng-show="vm.updating.id != dev.id && vm.updating.what != dev.retention">{{dev.retention}}</span>
              <input ng-change="vm.save(dev.id,dev.retention,'retention')" ng-model="dev.retention" ng-show="vm.updating.id != dev.id && vm.updating.what != dev.retention" profile="text" class="form-control">
          </td>
          <td>
            <div class="inline-btn">
              <button ng-click="vm.destroy(dev.id)" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button>
            </div>
          </td>
        </tr>
        <tr>
          <th><input required ng-model="vm.new.tty" profile="text" class="form-control" placeholder="/dev/TTY"></th>
          <th><input required="true" ng-model="vm.new.step" profile="text" class="form-control" placeholder="seconde"></th>
          <th>
            <div class="inline-btn">
              <button ng-click="vm.add(vm.new)" class="btn btn-primary btn-xs"><i class="fa fa-floppy-o"></i></button>
              <button ng-click="vm.new = {}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button>
            </div>
          </th>
        </tr>
      </table>
    </div>
    <div class="clearfix"></div>
  </div>
